{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<footer>
  {% for block in section.blocks %}
    {% if block.type == "column" %}
      <div class="footer_column">
      <h4 class="cursive-text red footer-colunm_header">{{ block.settings.header }}</h4>
      <ul class="footer-links">
      {% for link in block.settings.menu.links %}
        <li></li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
    {% endfor %}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "column",
      "name": "column",
      "limit":3,
      "settings": [
        {
          "type":"text",
          "id":"header",
          "label": "Header"  
        },
        {
          "type":"link_list",
          "id":"menu",
          "label": "Links"  
        },
      ]
    },
    {
      "type": "logo",
      "name": "logo",
      "limit":1,
      "settings": [
        {
          "type":"image_picker",
          "id":"logo",
          "label": "Logo"  
        },
      ]
    }
  ],
  "settings": [
  ],
  "default": {
  }
}
{% endschema %}
